@use 'base/variables' as var;

.notavif.notwebp {
    .header {
        &--home {
            background-image: url(../images/header_inicio.jpg);
        }
        &--about-us {
            background-image: url(../images/header_nosotros.jpg);
        }
        &--process {
            background-image: url(../images/header_proceso.jpg);
        }
        &--menu {
            background-image: url(../images/header_menu.jpg);
        }
        &--gallery {
            background-image: url(../images/header_galeria.jpg);
        }
        &--contact {
            background-image: url(../images/header_contacto.jpg);
        }
    }

    .ingredients {
        &__container {
            background-image: url(../images/cafe.jpg);
        }
    }

    @include var.tablet {
       .contact {
        &__container {
            background-image: url(../images/granos_cafe.jpg);
        }
       }
    }
}

.webp {
    .header {
        &--home {
            background-image: url(../images/header_inicio.webp);
        }
        &--about-us {
            background-image: url(../images/header_nosotros.webp);
        }
        &--process {
            background-image: url(../images/header_proceso.webp);
        }
        &--menu {
            background-image: url(../images/header_menu.webp);
        }
        &--gallery {
            background-image: url(../images/header_galeria.webp);
        }
        &--contact {
            background-image: url(../images/header_contacto.webp);
        }
    }

    .ingredients {
        &__container {
            background-image: url(../images/cafe.webp);
        }
    }

    @include var.tablet {
        .contact {
            &__container {
                background-image: url(../images/granos_cafe.webp);
            }
        }
    }
}

.avif {
    .header {
        &--home {
            background-image: url(../images/header_inicio.avif);
        }
        &--about-us {
            background-image: url(../images/header_nosotros.avif);
        }
        &--process {
            background-image: url(../images/header_proceso.avif);
        }
        &--menu {
            background-image: url(../images/header_menu.avif);
        }
        &--gallery {
            background-image: url(../images/header_galeria.avif);
        }
        &--contact {
            background-image: url(../images/header_contacto.avif);
        }
    }

    .ingredients {
        &__container {
            background-image: url(../images/cafe.avif);
        }
    }

    @include var.tablet {
        .contact {
            &__container {
                background-image: url(../images/granos_cafe.avif);
            }
        }
    }
}